strong, b {
  font-family: Avenir-Heavy;
}

.md-typeset a, .md-nav__link.md-nav__link--active {
  color: #1DAAA0;
}

.md-typeset a:hover, .md-nav__link:hover {
  color: #50DDD3;
}

.md-typeset [id] .headerlink:focus, .md-typeset [id]:hover .headerlink:hover, .md-typeset [id]:target .headerlink {
  color: #50DDD3 !important;
}

.md-header {
  background-color: #1DAAA0;
}

.md-nav.md-nav--secondary {
  border-color: #1DAAA0;
}

.md-footer-nav, .md-footer-meta {
  background-color: #29324B;
}

.md-icon--home {
  background-image: url(/images/favicon.ico);
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover,
.md-typeset .codehilite::-webkit-scrollbar-thumb:hover {
  background-color: #1DAAA0;
}

@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: #1DAAA0;
  }
}

@media only screen and (max-width: 59.9375em) {
  .md-nav__source {
    background-color: #00776D;
  }
}

/*.md-content {
  margin-right: 0;
}

.video-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
	position: relative;
	padding-top: 25px;
	height: 0;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/